<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>D2Coding-Ver1.3.2-20180524.ttf</string>
		<string>D2CodingBold-Ver1.3.2-20180524.ttf</string>
	</array>
</dict>
</plist>
